node_modules
.nuxt
dist
.output
.git
.gitignore
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
.vscode
.idea
*.swp
*.swo
README.md
LICENSE
.dockerignore
Dockerfile
.gcloudignore
app/tests
docs
devops
public/*/
playwright.config.ts
vitest.config.ts
.eslintrc
