[tool.poetry]
name = "sbc-apigw"
version = "1.0.0"
description = ""
authors = ["thorwolpert <thor@wolpert.ca>"]
license = "BSD 3-Clause"
readme = "README.md"
packages = [{include = "sbc_apigw", from = "src"}]

[tool.poetry.dependencies]
python = "^3.11"
flask = "^1.1.4"
launchdarkly-server-sdk = "^8.1.1"
python-dotenv = "^1.0.0"
sentry-sdk = "^1.24.0"
flask-babel = "2.0.0"
flask-jwt-oidc = "^0.3.0"
gunicorn = "^21.2.0"
auth-api = {git = "https://github.com/bcgov/sbc-auth.git", rev = "main", subdirectory = "auth-api"}
sbc-common-components = {git = "https://github.com/kris-daxiom/sbc-common-components.git", rev = "master", subdirectory = "python"}

[tool.poetry.group.test.dependencies]
freezegun = "^1.2.2"
hypothesis = "^6.75.6"
pexpect = "^4.8.0"
pytest = "^7.2.2"
pytest-cov = "^4.0.0"
pytest-mock = "^3.10.0"
requests-mock = "^1.11.0"

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.1.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
