[tool.poetry]
name = "sbc-apigw"
version = "1.0.0"
description = ""
authors = ["thorwolpert <thor@wolpert.ca>"]
license = "BSD 3-Clause"
readme = "README.md"
packages = [{include = "sbc_apigw", from = "src"}]

[tool.poetry.dependencies]
python = "^3.12.2"
flask = "^1.1.4"
launchdarkly-server-sdk = "^8.3.0"
python-dotenv = "^1.0.1"
sentry-sdk = "^1.43.0"
flask-babel = "2.0.0"
flask-jwt-oidc = "^0.3.0"
gunicorn = "^21.2.0"
sbc-common-components = {git = "https://github.com/bcgov/sbc-common-components.git", rev = "master", subdirectory = "python"}
auth-api = {git = "https://github.com/bcgov/sbc-auth.git", rev = "main", subdirectory = "auth-api"}

[tool.poetry.group.test.dependencies]
freezegun = "^1.4.0"
hypothesis = "^6.99.12"
pexpect = "^4.9.0"
pytest = "^7.4.4"
pytest-cov = "^4.1.0"
pytest-mock = "^3.14.0"
requests-mock = "^1.11.0"

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.6.2"
faker = "^24.3.0"
lovely-pytest-docker = "^0.3.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
